

header {
    display: flex;
  align-items: center;
  justify-content: center;
}

.articles-list {
 display: flex;
flex-wrap: wrap;
}



.article {
  flex-wrap: wrap;
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-basis: 240px;
  height: auto;
   flex-shrink: 3;
   flex-grow: 1;
}

