 body {
 display: flex;
flex-direction: column;
 }

header {
    display: flex;
  align-items: center;
  justify-content: center;
}

.articles-list {
 display: flex;
 align-items: ;
flex-wrap: wrap;
}



.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-basis: 240px;
  height: auto;
   flex-shrink: 0;
   flex-grow: 1;
}
