body {
  display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
}

.article {
  
   margin: 8px;
  padding: 16px;
  background-color: bisque;
  height: auto;
  flex-shrink: 3;
  flex-grow: 1;
flex-basis: 300px;

}

