
header {
    display: flex;
  align-items: center;
  justify-content: center;
}

.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-basis: 300px;
  height: auto;
  flex-shrink: 1;
  flex-wrap: wrap;
  flex-grow: 1;
}
