        table {
            margin: 32px;
            width: 500px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }

        td, th {
            padding: 4px;
            text-align: right;
            line-height: 40px;
        }

        div {
            overflow-x: auto ;
        }

        th {
            background-color: aqua;
        }

        tfoot {
            font-weight: 700;
        }

        caption {
            margin: 8px;
        }

        tbody > tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        tbody > tr:hover {
            background-color: #aaa;
            color: #fff;
        }