* {
  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.rectangle {
  border-radius: 16px;
  width: 100px;
  height: 50px;
  background-color: forestgreen;
}

.oval {
  border-radius: 100px/50px;
  width: 100px;
  height: 50px;
  background-color: darkmagenta;
}

.circle {
  width: 100px;
  height: 100px;
  background: aquamarine;
  border-radius: 50px;
}

.triangle {
  height: 50px;
  width: 100px;
  border: 50px solid transparent;

  border-top-color: brown;
}
