* {
    box-sizing: border-box;
}

td, th {
    width: 50px;
    height: 50px;
}

table {
    text-align: center;
    margin: 16px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}


table {
border: 1px solid black;
border-collapse: collapse;
}



th {
    font-weight: 200;
}