* {
    box-sizing: border-box;
}


td, th {
    font-weight: 500;
    width: 50px;
    height: 50px;
}

table {
    margin: 16px;
}

/* .white {
    background-color: white;
}

.black {
    background-color: black;
} */


table{
border: 1px solid black;

}

tr:nth-child(even) > td:nth-last-child(2), tr:nth-child(even) > td:nth-last-child(4), tr:nth-child(even) > td:nth-last-child(6), tr:nth-child(even) > td:nth-last-child(8) {
    background-color: black;
     outline: 1px solid #000
}


tr:nth-last-child(odd) > td:nth-last-child(3), tr:nth-last-child(odd) > td:nth-last-child(5), tr:nth-last-child(odd) > td:nth-last-child(7), tr:nth-last-child(odd) > td:nth-last-child(9) {
    background-color: black;
     outline: 1px solid #000
}


tr:nth-child(odd) > td:nth-child(9) {
  
}