* {
    box-sizing: border-box;
}

td, th {
    width: 50px;
    height: 50px;
}

table {
    margin: 16px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}


table, td {
border: 1px solid black;
border-collapse: collapse;
}