* {
    box-sizing: border-box;
}


.gallery {

    
}
.image {
    display: inline-block;
    align-items: center;
    margin: 15px;
    width: 200px;
    height: 200px;
    border: 1px dotted grey;
    background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
    
}