* {
    box-sizing: border-box;
   
}



.image {
    display: inline-block;
    position: relative;
    margin: 16px;
    width: 200px;
    height: 200px;
    border: 1px dotted grey;
    background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
    
}

.image:nth-child(2) {
   margin-left: 11px; 
   margin-right: 3px;
}

.image:nth-child(3) {
   margin-left: 25px; 
   
}