* {
    box-sizing: border-box;
   
}



.image {
    display: inline-block;
    position: relative;
    margin: 13px;
    width: 200px;
    height: 200px;
    border: 1px dotted grey;
    background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
    
}