
* {
    box-sizing: border-box;
}

.header > .navigation > .nav-list{
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    position: fixed;  
    margin: 0%;
    z-index: 100; 
}

.nav-list {
  position: relative; 
  list-style-type: none; 
}


.nav-item {
    font-size: 18px;
 float: left;
 margin-left: 2%;
 color: white;
 line-height: 2.15;
}

.content {
    background-color: beige;
    height: 5000px;
}


.head {
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    position: absolute;
        top: 50%;
    left: 50%;
    margin-right: -50%;
transform: translate(-50%, -50%)
;
}

.ear {
   width: 40px; 
   height: 60px;
   background-color: brown;
   position:absolute;
   top: -60px;
   
}

.ear_right {
    right: -20%;
}


.ear_left {
    left: -20%;
}

.eye {
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    position:absolute
}

.eye_right {
    right: 40px;
    bottom: 90px;
}

.eye_left {
    left: 40px;
    bottom: 90px;
}