
    *{
        box-sizing: border-box;
    }
.dropdown {
    position: relative;
    margin: 16px;
    background-color: darkgreen;
    color: white;
    display: inline-block;
    padding: 8px;
    border-radius:4px ;
    cursor: pointer;
     opacity: 0.8;
}


.menu-list {
    position: absolute;
    color: black;
    list-style-type: none;
    background-color: lightcyan;
    padding: 0;
    margin: 0;
     display: none;
     min-width: 120px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item {
    padding: 8px;
}

.dropdown:hover .menu-list {
    display: block;

}

.dropdown:hover .menu-button {
    opacity: 1;
}
