body {
    margin: 16px;
}

* {
  box-sizing: border-box;
}

.dropdown {
 position: relative;
 display: inline-block;
 background-color: forestgreen;
  color: white;
  padding: 16px;
  opacity: 0.8;
  font-size: 16px;
  cursor: pointer;
}
/* .menu-button {
  background-color: forestgreen;
  color: white;
  padding: 16px;
  opacity: 0.8;
  font-size: 16px;
  cursor: pointer;
} */

.menu-list {
  position: absolute;
  top:51px;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: lightcyan;
  min-width: 120px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  color: black;
  z-index: 1;
  display: none;
}

.menu-item {
    padding: 16px;
}


.dropdown:hover .menu-list {
display: block;

}

body:hover .dropdown {
   opacity: 1; 
}