   html {
        font-size: 24px;
      }

      div {
        margin: 16px;
        border: 1px solid burlywood;
      }

      .horizontal > span {
      background-color: aqua;
      }

      .horizontal {
        display: flex;
         align-items: center;
       justify-content: space-around;
       height: 50px;
      }
      .vertical > span {
        background-color: coral;
      }

      .vertical {
        display: flex;
        height: 200px; 
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }