body {
    margin: 0%;

}

.page{
   
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.header{
display: flex;
height: 40px;
background-color: yellow;
}

.navigation {
     display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0px;
}

.navigation_item {
margin-left: 16px;
}

.content {
    display: flex;
    flex-grow: 1;
}

.dashboard {
    display: flex;
flex-grow: 1;
background-color: pink;
justify-content: center;
align-items: center;
}

.news {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: gray;
}
 
.header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.navigation2 {
  margin: 0px;
}

.news_item {
   display: flex;
   list-style-type: none;
   height: 40px; 
   margin-left: 16px;

}

.footer {
    display: flex;
    height: 40px;
    background-color: green;
}

.footer_text {
    display: flex;
    margin: auto;
}