  body {
            margin: 0;
        }

.header {
    height: 40px;
    background-color: yellow;
     display: flex;
     align-items: center;
}

.footer {
    height: 40px;
    background-color: green;
    display: flex;

}

.navigation {
    margin:0;
    display: flex;
    list-style-type: none;
}

.navigation_item {
    margin-right: 10px;
}

.footer_text {
    margin: auto;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    display:flex;
}

.dashboard {
display: flex;
flex-grow: 1;
background-color: pink;
justify-content: center;
align-items: center;
}

.news {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: gray;
}

.news_item {
    height: 40px;
    margin-left: 16px;
    list-style-type: none;
}

.header2 {
    display: flex;
   align-items: center; 
   justify-content: center;
}