
* {
  box-sizing: border-box;
}

.page {

  height: 100vh;
  width: 100vw;
  background-color: bisque;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: aqua;
  font-size: 16px;
  font-family: monospace;
}


.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-input {

  margin-bottom: 8px;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
}

.form-label {
  
  margin-bottom: 4px;
}

.form-control {
  display: block;
}


.form-input:invalid {

outline: 3px solid #ff0000;
outline-offset: -2px;
}

.submit-button {
  
  width: 100%;
  height: 32px;
  margin-top: 16px;
  background-color: #ff7f50;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
}