* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  background-size: 100%;
}

.page {
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: aqua;
  font-size: 16px;
  font-family: monospace;
}

.form-title {
    text-align: center;
    text-transform: uppercase;
}

.form-input {
    margin-bottom: 8px;
    width: 100%;
    height: 32px;
    border: 1px solid #808080;
    padding: 4px;
    outline: none;
}

.form-input:invalid {
  border: 3px solid #ff0000;  
}

.form-label {
    margin-top: 4px;
}

.submit-button {
    width: 100%;
    height: 32px;
    margin-top: 16px;
    background-color: #ff7f50;
    border-radius: 4px;
     text-transform: uppercase;
     color: #fff;
}