* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
   height: 100vh
 }

.login-form {
  width: 300px;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: aqua;
  font-size: 16px;
  font-family: monospace;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-input {

  margin-bottom: 8px;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
}

.form-label {
  display: block;
  margin-bottom: 4px;
}

.form-input:invalid {
  outline: 3px solid #ff0000;
  outline-offset: -2px;
}

.submit-button {
  width: 100%;
  height: 32px;
  margin-top: 16px;
  background-color: #ff7f50;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
}
