* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.page {
 display: flex;
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
}

.login-form {
    display: block;
  width: 300px;
  height: 100%;
  position: relative;
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: aqua;
  font-size: 16px;
  font-family: monospace;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-input {
  margin: 8px;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: 32px;
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
  border-radius: 4px;
}

.form-label {
    display: block;
 margin: 4px;   
 margin-left: 0;
}

.form-input:invalid {
  border: 3px solid #ff0000;
}

.submit-button {
  width: 100%;
  height: 32px;
  margin-top: 16px;
  background-color: #ff7f50;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
}
