
* {
  box-sizing: border-box;
}

.page {
  background-color: bisque;
  background-size: 100%;
  width: 100vw;
  height: 100vh;

}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: aqua;
  font-size: 16px;
  font-family: monospace;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
}

.form-input {
  /* margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 0; */
  width: 100%;
  height: 32px;
  border: 1px solid #808080;
  padding: 4px;
  outline: none;
  border-radius: 4px;
}

.form-label {
 display: block;
 margin-bottom: 4px;   
 
}

.form-input:invalid {
  display: block;
  border: 3px solid #ff0000;
}

.submit-button {

  width: 100%;
  height: 32px;
  margin-top: 16px;
  background-color: #ff7f50;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
}

.form-control {
  margin-bottom: 8px;
  display: block;
 
}