* {
    margin: 32px;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}


h1 {
display: flex;
 justify-content: space-around;
  word-spacing: 20px;
  text-transform: uppercase;
}

p {
  line-height: 28px;
}

.technology {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  text-decoration: underline;
  opacity: 80%;
}

.translation {
  color: grey;
}

a {
  text-decoration: none;
}
