.already-learned ol > li  {
    background-color: green;
    color: white;
}

.to-be-learned ul > li {
    background-color: orange;
    color: green;
}

.already-learned code {
    background-color: orange;
}

.to-be-learned code {
    background-color: green;
}


h4 > code {
    border: 2px solid blue;
}

#special2 ~ li {
    font-size: 24px;
}