* {
  box-sizing: border-box;
}

.image {
  display: block;
  margin: 0 auto 0;
  max-width: 100%;
}

.image-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: bisque;
  text-transform: uppercase;
  font-weight:700;
  font-size: 12px;
  opacity: 0.5;
  width: 200px;
  height: 50px;
  bottom: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
}


.image-button:hover {
 opacity: 1;   
}