body {
    margin: 0%;
}

     input[type="checkbox"] {
        visibility: hidden;
        width: 0;
        height: 0;
       }

       .checkmark {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-color: #d3d3d3;
        position: absolute;
        top:0;
        left: 0;
       }
       
       .checkbox {
        display: inline-block;
        margin: 16px;
        padding-left: 35px;
        position: relative;
         font-size: 24px;
       }

       .checkbox input:checked + .checkmark {
        background-color: #006400;
       }