* {
  margin: 25px 25px;
 
}

div {
    padding: 49px;
    margin: 1px;
    
}

.rectangle {
  height: auto;
  width: auto;
  background-color: blue;
  border: 2px solid black;
 
}

.rectangle2 {
   height: auto;
  width: auto;
  background-color: yellow;
  border: 2px solid black;
 
}

.rectangle3 {
   height: auto;
  width: auto;
  background-color: green;
  border: 2px solid black;
 
}

.rectangle4 {
   height: auto ;
  width: auto;
  background-color: pink;
  border: 2px solid black;
  
}