* {
    margin: 50px;
}


div {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: blue;
    margin: 50px;
    padding: 50px;
}

div > div {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: yellow;
    margin: 50px;
    
}

 div > div > div {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: green;
    margin: 50px;
    padding: 50px;
 }

 div > div > div > div {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: pink;
    margin: 50px;
    padding: 50px;
 }