.rectangle {
    width: 1250px;
    height: 312;
    border: 2px solid black;
    background-color: blue;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    padding: 50px;
    
}

.rectangle2 {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: yellow;
    padding: 50px;
    
}

 .rectangle3 {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: green;
    padding: 50px;
    
 }

 .rectangle4 {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: pink;
    padding-top: 50px;
    padding-bottom: 50px;
   
    
 }