* {
  margin: 25px 15px;
  
 
}


.rectangle {
  height: auto;
  width: auto;
  background-color: blue;
  border: 2px solid black;
 padding: 25px;
    margin: 25px;
}

.rectangle2 {
   height: auto;
  width: auto;
  background-color: yellow;
  border: 2px solid black;
 padding: 25px;
    margin: 25px;

}

.rectangle3 {
   height: auto;
  width: auto;
  background-color: green;
  border: 2px solid black;
  padding: 25px;
    margin: 25px;

 
}

.rectangle4 {
   height: auto ;
  width: auto;
  background-color: pink;
  border: 2px solid black;
  padding: 40px;
    margin: 20px;

  
}