.rectangle {
    width: 1230px;
    height: 312px;
    border: 2px solid black;
    background-color: blue;
    margin: 50px;
        padding: 50px;
    
}

.rectangle2 {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: yellow;
    padding: 50px;
     
}

 .rectangle3 {
    width: 1020px;
    height: 100px;
    border: 2px solid black;
    background-color: green;
    padding: 50px;
    
    
 }

 .rectangle4 {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: pink;
    padding: 50px;
   
    
 }