.rectangle {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: blue;
    
    padding: 50px;
    
}

.rectangle2 {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: yellow;
    padding: 50px;
    
}

 .rectangle3 {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: green;
    padding: 50px;
    
 }

 .rectangle4 {
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: pink;
    padding: 50px;
    
 }